%h1 Berlinale 2017
.updated-time
  - minutes = ((Time.current - Screening.maximum(:updated_at)) / 60).to_i
  - time_words = minutes > 0 ? "#{minutes} minutes ago" : "just now"
  = "Last updated #{time_words}."
.content
  %h3
    = "The #{@screenings.count} Films you can still get tickets for online"
  %p
    There are still a lot tickets which have not gone on sale yet. Track them down with
    = link_to 'the official site search', 'http://www.berlinale.de/en/programm/berlinale_programm/programmsuche.php'

  %p
    But if you want to get your plans sorted now use this. :)

  %h4 The Films
  %table
    %tbody
      - @screenings.each do |screening|
        %tr
          %td.page_url
            = link_to screening.title, screening.page_url

%footer
  .about
    = link_to 'Me on twitter', 'https://twitter.com/MissRahee'
