.content
  .well
    %header
      %h1 Berlinale 2018
      .updated-time
        - minutes = Screening.count == 0 ? nil : ((Time.current - Screening.maximum(:updated_at)) / 60).to_i
        - time_words = minutes > 0 ? "#{minutes} minutes ago" : "just now"
        = "Last updated #{time_words}."
    %h3
      = "#{@screenings.count} #{@do_hot_sellers ? 'fast selling ' : ''}screenings you can buy right now"
    %p
      = "Hi I'm "
      = link_to('Adam', 'https://twitter.com/MissRahee')
      = ". Pleased to meet you. You seem lovely."
    %p
      The official berlinale site is great if you already know a lot and are really committed. But if, like me, you just enjoy film and would like to see what's available now then it's really difficult to find what is actually buyable. This bothered me so I made this site.
    %p
      = "There are still #{@future_screening_count} screenings of #{@future_film_count} films which haven't gone on sale yet. You can track them down with "
      = link_to 'the official site search', 'http://www.berlinale.de/en/programm/berlinale_programm/programmsuche.php'

    %p
      But if you want to get your plans sorted now use this. :)

      %a.squaredThree.tooltip-toggle{'aria-label' => 'There\'s a buzz around these films. They tend to stay on sale for under 2 hours.', :href => @hot_sellers_url}
        Just the fast selling ones
        = check_box_tag 'squaredThree', 'yes', @do_hot_sellers, class: 'squaredThree', onclick: "window.open(\"#{@hot_sellers_url}\", \"_self\")"
        %label{for: 'squaredThree'}

    .tabs
      - @date_groups.each_pair do |date_heading, screenings|
        %h3.date-heading
          = date_heading
        
        %ol
          - screenings.each do |screening|
            %li
              =image_tag screening.image_url
              .info
                %span.film-title
                  = link_to screening.film.title.strip, screening.page_url
                %span.starts-at
                  = screening.berlin_time_text
                .synopsis
                  = screening.film.synopsis

%footer
  .about
    = link_to 'Me on twitter', 'https://twitter.com/MissRahee'
