.content
  .well
    %header
      %h1.hidden
        Berlinale Now
      = image_tag('now_berlinale_logo_tilt.png', class: 'logo', alt: 'Bear say Nowwww!')
      .updated-time
        - minutes = Screening.count == 0 ? nil : ((Time.current - Screening.maximum(:updated_at)) / 60).to_i
        - time_words = minutes > 0 ? "#{minutes} minutes ago" : "just now"
        = "Last updated #{time_words}."
    %h3
      = "The #{@screenings.count} showings you can definitely get (#{@film_count} films)"
    %p
      There are still a lot tickets which have not gone on sale yet. Track them down, wait then try your luck with
      = link_to 'the official site search', 'http://www.berlinale.de/en/programm/berlinale_programm/programmsuche.php'

    %p
      But if you want to get your plans sorted now use this. :)

    - @date_groups.each_pair do |date_heading, screenings|
      %h3.date-heading
        = date_heading
      
      %ol
        - screenings.each do |screening|
          %li
            %span.starts-at
              = screening.berlin_time_text
            %span.film-title
              = link_to screening.title, screening.page_url

%footer
  .about
    = link_to 'Me on twitter', 'https://twitter.com/MissRahee'
    = link_to 'Contribute on Github', 'https://github.com/Adamantish/berlinale'
