.content
  %h1 Now Berlinale
  .updated-time
    - minutes = ((Time.current - Screening.maximum(:updated_at)) / 60).to_i
    - time_words = minutes > 0 ? "#{minutes} minutes ago" : "just now"
    = "Last updated #{time_words}."
  %h3
    = "The #{@screenings.count} Films you can still get tickets for online"
  %p
    If you fancy trying your luck with the cinemas that don't sell online use
    = link_to 'the official site search', 'http://www.berlinale.de/en/programm/berlinale_programm/programmsuche.php'

  %p
    But if you want to figure out what's definitely available that's why I knocked up this site today. :)

  %h4 The Films
  %table
    %tbody
      - @screenings.each do |screening|
        %tr
          %td.title
            = screening.title
          %td.page_url
            = link_to 'details...', screening.page_url

%footer
  .about
    = link_to 'Me on twitter', 'https://twitter.com/MissRahee'
