= form_for edit_to_do ,{ remote: true } do |f|
  = f.text_field :id , { class: "perm-undisplayed " }

  .icon__close-edit.sprite--tiny__close{ onclick: "cancelToDoEdit(#{edit_to_do.id})" }

  %fieldset
    = f.label :destination
    = f.select :destination_id , @destination_options, { prompt: 'Pick a destination' }

  %fieldset
    = f.label "What"
    = f.text_field :description

  %fieldset
    = f.label "Where"
    = f.text_field :address
  %fieldset
    %button#btn__add-to_do Bucket It
